<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>project1</title>
	<meta name="description" content="Test of new php framework, project1">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="resources/css/project1.css">
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="">
</head>
<body>

	<div id="main_container">testing
		<div id="site_header" name="testing attribute >"></div>
		<div id="site_nav"></div>
		<div id="site_content"></div>
		<div id="site_footer"></div>
		<div id="closing_scripts"></div>
	</div>
	
</body>
</html>